<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <title>hogehoge</title>
  </head>
  <body>
    <div class="home wrap">
      <h1 class="title">hogeHogeBlog</h1>
      <h2 class="subTitle">classActionDeveloperBlog</h2>
      <div class="blogAbout">
        <div class="blogAboutDate">
          <p class="blogAboutMonth">APR</p>
          <p class="blogAboutDay">-03-</p>
          <p class="blogAboutYear">2018</p>
        </div>
        <ul>
          <li>
            <h3 class="blogAboutTitle">サービスロゴの一新</h3>
            <p class="blogAboutTxt">デザインリリースに伴いロゴのデザインを大幅改善しました。</p>
          </li>
          <li>
            <h3 class="blogAboutTitle">連絡機能</h3>
            <p class="blogAboutTxt">ユーザー同士のコンタクト機能を追加しました。マイページに新たにメッセージボタンが追加されたのでそちらからメッセージのやり取りをお願いします。</p>
          </li>
          <li>
            <h3 class="blogAboutTitle">サービスロゴの一新</h3>
            <p class="blogAboutTxt">デザインリリースに伴いロゴのデザインを大幅改善しました。</p>
          </li>
          <li>
            <h3 class="blogAboutTitle">連絡機能</h3>
            <p class="blogAboutTxt">ユーザー同士のコンタクト機能を追加しました。マイページに新たにメッセージボタンが追加されたのでそちらからメッセージのやり取りをお願いします。</p>
          </li>
          <li>
            <h3 class="blogAboutTitle">サービスロゴの一新</h3>
            <p class="blogAboutTxt">デザインリリースに伴いロゴのデザインを大幅改善しました。</p>
          </li>
          <li>
            <h3 class="blogAboutTitle">連絡機能</h3>
            <p class="blogAboutTxt">ユーザー同士のコンタクト機能を追加しました。マイページに新たにメッセージボタンが追加されたのでそちらからメッセージのやり取りをお願いします。</p>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>