@media screen and (min-width: 800px) and (max-width: 1000px)
  .wrap
    padding: 0 100px
    .blog
      &Contents
        width: 100%
        padding-right: 0px
        .blogImg
          width: 100%
          height: auto
          img
            width: 100%
            height: auto
      &sideArea
        margin-left: 0px
        width: 100%
        .officialLink
          border: 0px
          margin-bottom: 10px
          &Title
            text-align: center
        .backnumber
          border: 0px
          height: 520px
          &Title
            text-align: center
      &ListArea
        margin-left: 0
  .blogListArea
    margin-left: 5%
@media screen and (min-width: 700px) and (max-width: 800px)
  .home
    padding-top: 50px
    .title
      font-size: 35px
    .subTitle
      font-size: 25px
  .wrap
    padding: 0 100px
    .blog
      &Contents
        width: 100%
        padding-right: 0px
        .blogImg
          width: 100%
          height: auto
          img
            width: 100%
            height: auto
      &sideArea
        margin-left: 0px
        width: 100%
        .officialLink
          border: 0px
          margin-bottom: 10px
          &Title
            text-align: center
        .backnumber
          border: 0px
          height: 520px
          &Title
            text-align: center
      &ListArea
        margin-left: 0
      .breadCrumb
        margin-top: 40px
    .blogAbout
      &Date
      ul
        padding-left: 60px


@media screen and (min-width: 600px) and ( max-width: 700px)
  .home
    padding-top: 50px
    .title
      font-size: 35px
    .subTitle
      font-size: 25px
  .wrap
    padding: 0 50px
    .blog
      &Contents
        width: 100%
        padding-right: 0px
        .blogImg
          width: 100%
          height: auto
          img
            width: 100%
            height: auto
      &sideArea
        margin-left: 0px
        width: 100%
        .officialLink
          border: 0px
          margin-bottom: 10px
          &Title
            text-align: center
        .backnumber
          border: 0px
          height: 520px
          &Title
            text-align: center
      &ListArea
        margin-left: 0
    .blogAbout
      &Date
        margin: auto
      ul
        border: none
        margin-left: 13%
        margin-top: 40px
        padding: 0px 15px
        li
          width: 380px

@media screen and (max-width: 600px)
  .home
    padding-top: 50px
    .title
      font-size: 30px
    .subTitle
      font-size: 20px
  .wrap
    padding: 0 5%
    .blog
      &Contents
        margin-top: 40px
        padding-right: 0px
        width: 100%
        h2
          font-size: 18px
        .TitleArea
          .blogTitle
            font-size: 22px
            line-height: 1.5
        .blogImg
          width: 100%
          height: auto
          img
            width: 100%
            height: auto
      &sideArea
        margin-left: 0px
        width: 100%
        .officialLink
          border: 0px
          margin-bottom: 10px
          &Title
            text-align: center
        .backnumber
          border: 0px
          height: 520px
          &Title
            text-align: center
      &List
        margin-left: 0
        &Title
          font-weight: bold
    .blogAbout
      &Date
        margin: auto
      ul
        border: none
        margin: 30px 0 0 0
        padding: 0px 15px
        li
          width: 100%
        .backnumber
          margin-left: 0px
