doctype html
html(lang="en")
  head
    link(rel="stylesheet" type="text/css" href="./style.css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet")
    title
      | hogehoge
  body
    .home.wrap
      h1.title
        | hogeHogeBlog
      h2.subTitle
        | classActionDeveloperBlog
    .wrap.outline
      .blogAbout
        .TitleArea
          h1.blogTitle
            | Adobe XD 7月アップデートリリース！ アセット名の設定、点線と破線のサポート、デザインスペックのコメント機能など #AdobeXD
          .PostDate
            span.PostDateDay
              | 2018.08.15
            | 公開
        .blogContents
          .contentsTitle
            | 点線と破線のサポート
          p.contentsTxt
            | Adobe XD 7月アップデートには、さらに魅力ある体験を顧客や、同僚のデザイナーと開発者、ステークホルダーに提供するのに役立つ数多くの新機能が含まれています。点線や破線がサポートされたことにより、ファイルのアップロード領域やドラッグ＆ドロップ領域の表現が可能になりました。また、アセットにラベルを付けて整理する新たな機能（数百ものアートボードを横断した検索が容易になります）も提供を開始しました。さらに、開発チームと会話が簡単にできるコラボレーションツールをデザインスペックに追加しました。この記事ではXDの新機能を動画とともに紹介します。また、日本時間 7月18日〜7月20日（米国太平洋時 7月17日〜7月19日）にUXのトップデザイナーがAdobe Live（英語）でAdobe XDの最新機能をご紹介するデモを行いますので、ぜひご覧ください。
          .contentsTitle
            | アセット名の設定
          p.contentsTxt
            | Adobe XD内で、アセットおよびデザイン設定の整理が容易に行えるようになりました。カラー、文字スタイル、シンボルに名前をつけてアセットパネル上に保存ができます。名前付きアセットはその種類か名前でフィルターでき、表示もリストとグリッド形式の切替えが可能です。また、マウスカーソルを重ねるとロールオーバー表示されるツールチップでアセット情報をすばやく確認できます。「デザインファイルには、数多くのカラー、文字スタイル、シンボルが含まれますが、名前を付けられ、その名前で検索できるようになり、時間が大幅に削減でき、整理が簡単にできるようになりました。XDにこの機能が追加されることを強く要望してきましたが、待ちに待った機能が実現したことをとても嬉しく思います。」とPoshmark社 シニア UXデザイン マネージャー、マリー ウェスト（Marie West）は語ります。次の動画で、その動作を確認してください。
        .backnumber
          .backnumberTitle
            | バックナンバー
            .backnumberColumn
              figure.columnImg
                img(src="../neko.jpg")
              .columnTitle
                | Adobe XD 7月アップデートリリース！ アセット名の設定、点線と破線のサポート、デザインスペックのコメント機能など #AdobeXD
                .columnDate
                  | 2018.08.17
            .backnumberColumn
              figure.columnImg
                img(src="../neko.jpg")
              .columnTitle
                | Adobe XD 7月アップデートリリース！ アセット名の設定、点線と破線のサポート、デザインスペックのコメント機能など #AdobeXD
                .columnDate
                  | 2018.08.17
