doctype html
html(lang="en")
  head
    link(rel="stylesheet" type="text/css" href="./style.css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet")
    title
      | hogehoge
  body
    .home.wrap
      h1.title
        | hogeHogeBlog
      h2.subTitle
        | classActionDeveloperBlog
      .blogAbout
        .blogAboutDate
          p.blogAboutMonth
            | APR
          p.blogAboutDay
            | -03-
          p.blogAboutYear
            | 2018
        ul
          li
            h3.blogAboutTitle
              | サービスロゴの一新
            p.blogAboutTxt
              | デザインリリースに伴いロゴのデザインを大幅改善しました。
          li
            h3.blogAboutTitle
              | 連絡機能
            p.blogAboutTxt
              | ユーザー同士のコンタクト機能を追加しました。マイページに新たにメッセージボタンが追加されたのでそちらからメッセージのやり取りをお願いします。
          li
            h3.blogAboutTitle
              | サービスロゴの一新
            p.blogAboutTxt
              | デザインリリースに伴いロゴのデザインを大幅改善しました。
          li
            h3.blogAboutTitle
              | 連絡機能
            p.blogAboutTxt
              | ユーザー同士のコンタクト機能を追加しました。マイページに新たにメッセージボタンが追加されたのでそちらからメッセージのやり取りをお願いします。
          li
            h3.blogAboutTitle
              | サービスロゴの一新
            p.blogAboutTxt
              | デザインリリースに伴いロゴのデザインを大幅改善しました。
          li
            h3.blogAboutTitle
              | 連絡機能
            p.blogAboutTxt
              | ユーザー同士のコンタクト機能を追加しました。マイページに新たにメッセージボタンが追加されたのでそちらからメッセージのやり取りをお願いします。