doctype html
html(lang="en")
  head
    meta(charset="UFT-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet" type="text/css" href!= "<?php bloginfo ('stylesheet_url');?>")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet")
    | <?php wp_head(); ?>
    title
      | hogehoge
  body
    .home.wrap
      a(href!= "<?php echo esc_url( home_url( '/' ) ); ?>")
        h1.title
          | hogeHogeBlog
        h2.subTitle
          | classActionDeveloperBlog
