| <?php
| /*
| Template Name: tag
| */
| ?>

| <?php get_header(); ?>
.wrap.blog
  .breadCrumb
    .breadCrumbHome
      a(href!= "<?php echo esc_url( home_url( '/' ) ); ?>")
        | □
    .breadCrumbAll
      a(href!= "<?php echo home_url('/tagall'); ?>")
        | TagAll
    .breadCrumbNow
      | <?php single_tag_title(); ?>
  .blogPageList
    | <?php
    | $now_tag = single_tag_title('',false);
    | $tag_properties = get_term_by('name', $now_tag, 'post_tag');
    | $now_tag_slug = $tag_properties->slug;
    | ?>

    | <?php
    | $arg   = array(
    |     'posts_per_page' => -1, // 表示する件数
    |     'orderby'        => 'date', // 日付でソート
    |     'order'          => 'DESC', // DESCで最新から表示、ASCで最古から表示
    |     'tag'            => $now_tag_slug // 表示したいタグのスラッグを指定
    | );
    | $posts = get_posts( $arg );
    | if ( $posts ):
    | ?>
    ul
      | <?php
      |  foreach ( $posts as $post ) :
      |    setup_postdata( $post );
      | ?>
      li
        a(href!= "<?php the_permalink(); ?>")
          h3.blogPageListTitle
          | <?php the_title(); ?>
        .blogPageListDate
          | <?php the_time( 'Y.m.d' ); ?>
        a(href!= "<?php the_permalink(); ?>")
          p.blogPageListTxt
            | <?php
            |   $content  = get_the_content();
            |   $text     = strip_tags( strip_shortcodes( $content ) );
            | ?>
            | <?php echo $text; ?>
      | <?php endforeach; ?>
    | <?php
    | endif;
    | wp_reset_postdata();
    | ?>
| <?php get_footer(); ?>

script.
  /* 100文字以下だったら…続きを見るを表示させる */
  var Txt = document.getElementsByClassName('blogPageListTxt');
  for(var i = 0; i < Txt.length; i++){
    if(Txt[i].innerHTML.length > 100){
      Txt[i].innerHTML = Txt[i].innerHTML.slice(0,101)+"…";
    }
  }
